doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Cessair
        link(rel='stylesheet' href='/resources/application.css')
    body
        section#context !{context}
        script(src='/resources/application.js')
